# python
__pycache__/
*.egg-info/
*.py[cod]
/.vs
.idea/
venv/
.venv/
.vscode/*
!.vscode/settings.json
.mypy_cache/
*.log

# file folders for users
/input/
/temp/
/output/
/models/**
/packages/image_utils/src/image_utils/custom_nodes/output/
/packages/image_utils/src/image_utils/custom_nodes/temp/

# Build dir
**/dist/

# js dependencies
**/node_modules/

# Environment variables
.env*
!.env.*example
config*.json
!config.example.json

