# python
__pycache__/
*.egg-info/
*.py[cod]
/.vs
.idea/
venv/
.venv/
.vscode/*
!.vscode/settings.json
.mypy_cache/
*.log

# file folders for users
/input/
/temp/
/output/
/models/**

# Build dir
**/dist/

# js dependencies
**/node_modules/

# Environment variables
.env.*
!.env.*example
.env
