cozy.dev {
	tls {
		dns cloudflare {env.CF_DNS_TOKEN}
	}

	reverse_proxy https://h4plsgignao9y5-9009.proxy.runpod.net:443 {
		lb_policy first
		header_up X-Real-IP {remote}
		header_up X-Forwarded-Proto {scheme}
		header_up Host {host}
		header_up User-Agent "Caddy"
	}

	encode gzip
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
	}
}

http://cozy.dev {
	redir https://cozy.dev{uri}
}
