104.248.7.107.nip.io {
	tls {
		on_demand
	}

	reverse_proxy https://h4plsgignao9y5-9009.proxy.runpod.net:443 {
		lb_policy first

		header_up X-Real-IP {remote}
		header_up Host {upstream_hostport}
		header_up User-Agent "Caddy"
	}

	encode gzip
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
	}
}
